.head{
    text-align: center;
}
#r{
    color: rgb(158, 6, 247);
}
#a{
    color: indigo;
}
#i{
    color: blue;
}
#n{
    color: green;
}
#b{
    color: yellow;
}
#o{
    color: orange;
}
#w{
    color: red;
}